*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
nunit-*.xml
[Dd]ebugPS/
[Rr]eleasePS/
StyleCopReport.xml
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
_Chutzpah*
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.sap
*.e2e
$tf/
*.gpState
*.DotSettings.user
*.dotCover
*.mm.*
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
*.[Cc]ache
!?*.[Cc]ache/
~$*
*~
*.pfx
*.publishsettings
UpgradeLog*.XML
UpgradeLog*.htm
Target
/Tests/TestCases/TestOrdinal/ntdll.dll
/Tests/TestCases/TestOrdinal/ntdll.pdb
/Tests/TestCases/ImportXEL/*.xel
/Tests/TestCases/ImportXEL/*.zip
/Tests/TestCases/SourceInformation/*.zip
/TestResults/
Engine/BinaryDependencies.zip
Engine/DIA
Engine/amd64
Engine/woa
Engine/arm64
Engine/x86
.nuget
