<?xml version="1.0" encoding="utf-8"?>
<!--// Copyright (c) Microsoft Corporation. Licensed under the MIT License - see LICENSE file in this repo.
-->
<packages>
  <package id="Microsoft.Debugging.Platform.DbgEng" version="20220211.1453.0" targetFramework="net472" />
  <package id="Microsoft.Debugging.Platform.SymSrv" version="20220211.1453.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.XEvent.XELite" version="2021.12.12.2" targetFramework="net472" />
  <package id="Microsoft.TestPlatform" version="17.2.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="6.0.0" targetFramework="net472" />
</packages>