<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="PDBDownloadFolder" value="c:\temp" />
		<add key="SQLBuildInfoUpdateURLs" value="https://raw.githubusercontent.com/microsoft/SQLCallStackResolver/main/lastupdated.txt;https://raw.githubusercontent.com/arvindshmicrosoft/SQLCallStackResolver/main/lastupdated.txt" />
		<add key="SQLBuildInfoURLs" value="https://raw.githubusercontent.com/microsoft/SQLCallStackResolver/main/sqlbuildinfo.json;https://raw.githubusercontent.com/arvindshmicrosoft/SQLCallStackResolver/main/sqlbuildinfo.json" />
		<add key="LatestReleaseURLs" value="https://raw.githubusercontent.com/microsoft/SQLCallStackResolver/main/latestrelease.txt" />
		<add key="PatternsToTreatAsMultiline" value="BEGIN STACK DUMP|Short Stack Dump"/>
	</appSettings>
</configuration>
