name: Build SQLCallStackResolver
on:
  pull_request:
  workflow_dispatch:
    inputs:
      testsfilter:
        description: 'Filter expression to use for running tests'
        default: 'TestCategory=Unit|TestCategory=Perf'
        required: false
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3.0.2
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.6
    - name: Restore NuGet Packages
      run: nuget restore SQLCallStackResolver.sln
    - name: Build SQLCallStackResolver
      run: msbuild SQLCallStackResolver.sln /p:Configuration=Release
    - name: Upload Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: SQLCallStackResolver
        path: |
          Target/Release
          !Target/Release/*.xml
          !Target/Release/Tests
    - name: Prep for running tests
      run: ./downloadsyms.ps1 '${{ secrets.SQLDKDLL_URL }}' '${{ secrets.XESPINS_ZIP_URL }}' '${{ secrets.XEWAIT_URL }}'
      working-directory: Tests/TestCases
      shell: powershell
    - name: Run tests
      run: |
        ../../../utils/import-vsenv.ps1
        & "$env:VSINSTALLDIR/Common7/IDE/Extensions/TestPlatform/vstest.console.exe" .\SQLCalLStackResolver.Tests.dll /Parallel /logger:"console;verbosity=normal" /TestCaseFilter:"${{ github.event.inputs.testsfilter || 'TestCategory=Unit' }}"
      working-directory: Target\Release\Tests\x64\Release\net6.0-windows7.0
      shell: powershell
